// pages/_index.scss

@use '../partials-foundation/variables' as *;



// ----------------------
// REGLAS GENERALES
// ----------------------


h1, h2, h3, p {
  font-family: $font-principal;
}


// ----------------------
// logo flotante
// ----------------------

.what {
  width: 150px;
  border-radius: 50px;
  position: fixed;
  bottom: 30px;
  right: 10px;
  z-index: 1000;
  animation: latido 1.8s infinite ease-in-out;
  transition: transform 0.3s ease;

  img {
    width: 100%;
    height: auto;
    display: block;
  }

}

  
// ----------------------
// MAIN
// ----------------------
main {
  background-color: $color-background;
  
  

  section {
    text-align: center;
    max-width: auto;
    margin: 0;
    padding: 2rem;

    h1 {
      text-decoration: underline;
      text-align: center;
      color: $font-claro;
      margin-bottom: 2rem;
     
    }

    h2 {
      color: $font-claro;
      margin-bottom: 2rem;
    }
  }
}

// ----------------------
// BANNER
// ----------------------
.banner {
  background-image: url("/githubAerochenaut/medios/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  color: $color-background-2;
  text-shadow: 6px 2px 0 rgba(0,0,0,0.6);
  backface-visibility: inherit;
    overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  animation: kenburns-top-left 10s ease-out both;
  @keyframes kenburns-top-left {
    0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 16% 16%;
    }
    100% {
    transform: scale(1.25) translate(-20px, -15px);
    transform-origin: top left;
     }
 } 

  h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  .titulo-experiencia {
    margin: 10px 10px;
    color: $font-claro;
  }
}

// ----------------------
// GRID VIVENCIAS
// ----------------------
.contenedor-grid-vivencias {
  display: grid;
  width: 100%;
  height: 100%;
  gap: 5px;
  justify-content: center;
  justify-items: center;
  align-items: center;

  grid-template-areas:
    "titulo1 titulo1 titulo1"
    "texto1 texto1 img-1"
    "img-2 img-2 img-1"
    "texto2 img-3 texto3";

  grid-template-columns: 30% 30% 40%;
  grid-template-rows: 50px 100px 300px 200px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .grid-titulo1 {
    grid-area: titulo1;
    color: $font-claro;
  }

  .grid-texto1 {
    grid-area: texto1;
    color: $font-claro;
  }

  .grid-img-1 {
    grid-area: img-1;
  }

  .grid-img-2 {
    grid-area: img-2;
  }

  .grid-texto2 {
    grid-area: texto2;
    color: $font-claro;
  }

  .grid-img-3 {
    grid-area: img-3;
  }

  .grid-texto3 {
    grid-area: texto3;
    color: $font-claro;
  }
}

// ----------------------
// GALERÍA FLEXBOX
// ----------------------
.galeria1 {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin: 20px;
  margin-bottom: 30px;

  .item1 {
    background-color: $color-contenedor;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    img {
      width: 100%;
      height: 180px;
      transition: transform 0.4s ease-in-out, box-shadow 0.4s ease;
      cursor: pointer;

      &:hover {
         transform: scale(1.05);
         box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
        }
    }

    p {
      background-color: $color-galeria1;
      color: $color-font-1;
      font-weight: bold;
      padding: 10px;
      font-family: $font-principal;
    }
  }
}

// ----------------------
// FRASE FINAL
// ----------------------
.frase {
  padding: 20px;

  p {
    color: $font-claro;
    text-align: justify;
    font-size: 1rem;
  }
}

// ----------------------
// DESTACADAS (NOVEDADES)
// ----------------------
.destacadas {
  h2 {
    text-align: center;
    color: $font-claro;
    text-decoration: underline;
  }

  article {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;

    .primervuelo, .privado, .instructor {
      width: 30%;
      background-color: $color-galeria1;
      color: $font-claro;
      height: 450px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      border-radius: 15px;

      img {
        width: 100%;
        height: 300px;
        border-radius: 10px;
        object-fit: cover;
      }
    }
  }
}

// ----------------------
// OTROS ESTILOS
// ----------------------
.center {
  text-align: center;
}

//imagenes//
.face, .insta {
  width: 50px;
}

.wsapp {
  width: 220px;
}

// ----------------------
// GALERÍA GENERAL
// ----------------------
.galeria {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;

  .item {
    width: 250px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    overflow: hidden;
    text-align: center;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      margin-top: 10px;
      padding: 0;
    }

    .descripcion {
      padding: 15px;

      h3 {
        margin-bottom: 10px;
        color: $font-claro;
      }

      p {
        color: $font-claro;
        font-size: 0.95em;
      }
    }
  }
}