// pages/_nosotros.scss

// ------------------------------
// Sección principal "Nosotros"
// ------------------------------

@use '../partials-foundation/variables' as *;

.mainnosotros {
  max-width: auto;
  margin: 0;
  font-family: $font-principal;
  color: $color-font-1;
  background-color: $color-background;

  .tituloHistoria {
    text-align: center;
    font-size: 3rem;
    color: $color-font-1;
    margin-bottom: 1rem;
  }

  section {
    margin-bottom: 3rem;

    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
    }
  }

  .historia, .fundador, .frasefinal {
    text-align: center;

    img {
      width: 100%;
      max-width: 600px;
      height: auto;
      margin: 1rem 0;
      border-radius: $border-radius;
      box-shadow: $sombra;
    }
  }

  .instructores {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    text-align: center;
    border-radius: $border-radius;
    box-shadow: $sombra;

    article {
      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 30%;
      }
    }

    .instructorinfo {
      h3, p {
        color: black;
        margin: 0;
      }

      h3 {
        margin-top: 0;
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  .frasefinal {
    p {
      font-style: italic;
      font-size: 1.2rem;
      color: $color-contenedor;
      margin-top: 1rem;
    }
  }
}

// Link del menú en offcanvas
.offcanvas-body {
  .nav-link,
  .nav-link.active {
    color: $color-font-1;
  }
}
